h1 {
    border: 2px solid orange; /* 枠の色と太さ */
    background-color: #FFD580; /* 薄いオレンジ色で塗りつぶす */
    padding: 10px; /* テキスト周りの余白 */
    display: inline-block; /* テキストの幅に合わせるためにインラインブロックにする */
}

h2 {
    border: 2px solid #35abeb; /* 枠の色と太さ */
    background-color: #ADD8E6; /* 薄いオレンジ色で塗りつぶす */
    padding: 10px; /* テキスト周りの余白 */
    display: inline-block; /* テキストの幅に合わせるためにインラインブロックにする */
}

button {
    border: 2px solid green; /* 枠の色と太さ */
    background-color: #90EE90; /* 薄い緑色で塗りつぶす */
    padding: 10px 20px; /* テキスト周りの余白 */
    font-size: 16px; /* フォントサイズを設定 */
    color: black; /* テキストの色 */
    cursor: pointer; /* ホバー時にカーソルをポインターに */
    text-align: center; /* テキストを中央に配置 */
    text-decoration: none; /* テキストの装飾をなしに */
    border-radius: 0px; /* 角を丸くする */
    transform: translateY(-50%); /* ボタンの高さの半分だけ上に移動して、正確に中央に配置 */
}

/*以上真太郎が追加したとこ*/

/*以下古見が追加したとこ*/



.container { /*平文とpタグ文を横並びにする*/
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 45px;  /* 上の余白 */
    margin-left: 600px;
}

/*ここから文字を四角に収めるスタイル*/
.length-fit {
    width: fit-content; /* 子要素の幅に合わせる */
}
.box {
    border: #4e7bcc 1px solid; /*境界線の指定*/
    padding:10px;
}
.box p {
    margin:0;
    padding:0;
}
/*ここまで文字を四角に収めるスタイル*/

.textbox{ /*テキストボックスの大きさ調節*/
    padding: 12px;
}


/*ここから時間割のスタイル*/
table {
    width: 60%;
    border-collapse: collapse;
    color: #333;
    display: inline-block;
    vertical-align: top;
}
th, td {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}
thead {
    background-color: #4CAF50;
    color: #FFFFFF;
}
tbody tr {
    background-color: #e8e8e8;
}
/*ここから時間割のスタイル*/

/*ここから備考欄のスタイル*/
.note-box {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}
.note-box input[type="text"] {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}
.formatted-text { /*user.html用*/
    white-space: pre-wrap; /* テキスト内の改行やスペースを保持する */
}
.note-box div { /*user.html用*/
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
}
/*ここまで備考欄のスタイル*/
