<!-- アカウント登録とログイン画面 -->
{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block header %}{% endblock %}



{% block content %}

<h1>知り合い作成アプリ</h1>
<h1>ログイン</h1>
<form method="POST" action="{{ url_for('login') }}">
    <label for="">ユーザ名</label>
    <input type="text" name="name">
    <label for="">パスワード</label>
    <input type="password" name="pass">
    <input type="submit" value="ログイン">
</form>
<h1>ユーザ登録</h1>
<form method="POST" action="{{ url_for('signup') }}">
    <label for="">ユーザ名</label>
    <input type="text" name="name">
    <label for="">パスワード</label>
    <input type="password" name="pass">
    <input type="submit" value="新規登録">
</form>
{% endblock %}