
<!-- アカウント名を変更用ページ -->
<!DOCTYPE html>
<html>
<head>
    <title>Update User Name</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>アカウント名の更新</h1>
        <form method="POST" action="{{ url_for('update_username') }}">
            <label for="name">ユーザ名:{{ user.user_name }}</label><br>
            <input type="text" id="name" name="name" minlength="3" class="text-input"><br>
            <input type="submit" value="変更決定" class="button">
        </form>
    </div>
</body>
</html>
