{% extends "base.html" %}
{% block title %}ユーザー名{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<!----------------------------------------------------------------------
cssスタイル指定
・ボタンの位置を微調整
----------------------------------------------------------------------->
<style>
  button{
    position: relative; /* 今の位置を基準 */
    left: 10px; /* 左から20px */
    top: 20px;
  }
</style>



<!--以下Html本文--------------------------------------------------------->
<h1>知り合い整理アプリ</h1>
検索<input type = text id = name name = "name"/> <br>



<!--知り合い新規登録ボタン等-->
<h2>ユーザ名:User-name</h2> 
<button type = button >知り合い新規登録</button><br>
<h2>並び替え</h2>
<button type = button >名前順</button><button type = button >時期順</button><button type = button >講義順</button> <br>



<!--知り合い一覧をFor文を用いて表示-->
<!--一時的にfor文無くしてるから，後で再度追加-->
<h2>知り合いリスト</h2>
<details>
  <summary>user</summary>
  <p>Details of Useruser</p>

  <div class="container">
    <div class="container">
      <p>知り合った時期：</p>
      <div class="length-fit">
        <p class="box"><time datetime="{{date}}">{{date}}</time></p>
      </div>
    </div>
    <div class="container">
      <p>連絡先メモ：</p>
        <div class="length-fit">
          <p class="box">{{contactnote}}</time></p>
        </div>
    </div>
  </div>
</details>
{% endblock %}