<!-- アカウント削除とアカウント名の変更ボタン追加 -->
{% extends "base.html" %}
{% block title %}ユーザー名{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<!----------------------------------------------------------------------
cssスタイル指定
・ボタンの位置を微調整
----------------------------------------------------------------------->
<style>
  button{
    position: relative; /* 今の位置を基準 */
    left: 10px; /* 左から20px */
    top: 20px;
  }
</style>



<!--以下Html本文--------------------------------------------------------->
<h1>知り合い整理アプリ</h1>
<form method="post" action="{{ url_for('delete_user') }}">
  <input type="hidden" name="user_id" value="{{ user.user_id }}">
  <button type="submit">アカウント削除</button>
</form>
<form action="{{ url_for('update_username') }}">
  <button type="submit" class="update-button">アカウント名変更</button>
</form> 
検索<input type = text id = name name = "name"/> <br>


<h2>ユーザ名:{{ user.user_name }}</h2> <br>
<h2>並び替え</h2><br>
<button type = button >名前順</button><button type = button >時期順</button><button type = button >講義順</button> <br>


{% for user in Users %} 
<details>
    <summary>{{user}}</summary>
    Details of User{{user}}
  </details>
{% endfor %}

{% endblock %}